.Toolbar {
    height: 60px;
    width: 100%;
    background-color: #703b07;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.Toolbar button {
    display: block;
    border: none;
    background-color: transparent;
    outline: none;
    padding: 10px;
    cursor: pointer;
}

.Toolbar button span {
    display: block;
    background-color: white;
    height: 4px;
    margin-bottom: 6px;
    width: 50px;
    border-radius: 3px;
}

.Toolbar nav {
    height: 100%;
}

@media (min-width: 501px) {
    .Toolbar button {
        display: none;
    }
}

