.Toolbar {
    height: 60px;
    width: 100%;
    background-color: #703b07;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.Toolbar nav {
    height: 100%;
}

@media (max-width: 500px) {
    .Toolbar {
        display: none;
    }
} /*below 500px make it hidden */